
/*import fonts*/
@font-face {
	font-family: Edmundsbury;
	src: url(../fonts/edmundsbury-sans.ttf)
}

@font-face {
  font-family: Acumin-pro;
	src: url(../fonts/acumin-pro-cufonfonts/Acumin-RPro.otf);
}

html {
	font-size: 16px;
}

/*reset*/
body, div, header, span, img, h1, h2, h3, h4, h4, h6, nav, ul, li, ol a, main, article, p, footer{
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
}

img {
    width: 100%;
		margin-bottom: -.331vw;
}

ul {
	list-style: none;
}

body {
    background-color: #eaeaea;
		position: relative;
}

/*wrapper styling*/
div#wrapper {
	width: 100%;
	margin: 0 auto 0 auto;
	border-bottom: 0.5vw solid #eaeaea;
	position: relative;
}

/*header styling*/
header {
	background-color: #abcacd;
	text-align: center;
	position: fixed;
	z-index: 40;
	width: 100%;
}


#header_section {                           
	height: 7.1vw;
}

header h1, header span {
	font-family: Edmundsbury, sans-serif;
	font-style: normal;
	font-weight: 400;
	display: inline-block;
	font-size: 2.2vw;
	margin: 1.6vw;
}

header span {
	margin-right: 0.6vw;
}

header h1 {
	margin-left: 0.6vw;
}

img#headerLogoBigScreen {	
	position: relative;
	top: 2.4vw;
	left: 0vw;
	width: 5.2vw;
	display: inline-block;
	margin-top: -1.3vw;
}

img#headerLogoMobile {
	display: none;
}

img#hamburger {
	display: none;
}

/*navigation styling*/
nav {
	position: fixed;
	top: 7.1vw;     
	height: 2.4vw;      
	background-color: #584632;
	text-align: center;
	width: 100%;
	z-index: 100;
}

ul {
	padding-top: .6vw;
	padding-bottom: .4vw;
	font-family: Acumin-pro, sans-serif;
	font-style: normal;
	font-weight: bold;

}
ul li {
	display: inline;
	font-size: 1vw;
	position: relative;
	padding: .8vw 2vw .6vw 2vw;
}

ul li#events_item, ul li#comm_item {
	padding-right: 1vw;
}	

img#arrow1, img#arrow2 {
	width: .6vw;
	padding-bottom: 0.2vw;
	margin-left: .5vw;
}

img#mobile_arrow1, img#mobile_arrow2 {
	display: none;	
}

ul li ul {
	padding-top: .4vw;
	padding-bottom: .4vw;
	font-family: acumin-pro, sans-serif;
	font-style: normal;
	font-weight: 100;
	position: absolute;
	top: 2.1vw;                        
	left: 2vw;
	visibility: hidden;
}

ul li ul li {
	width: 12vw;
	display: block;
	font-size: 100%;
	background-color: rgba(233, 152, 47, .7);
	color: white;
	text-align: left;
	border-top: 1px solid #fff;
	padding: .5vw;
	z-index: 30;
}

/*navigation links styling*/
nav a.highLevelNav {
	text-decoration: none;
	color: white;
}

nav a.highLevelNav:hover {
	color: #e9982f;
}

nav a.highLevelNav:active {
	color: #000;
}

nav a.secondLevelNav{
	color: #fff;
	text-decoration: none;

}

ul li ul li:hover {
	color: #584632;
	background-color: rgba(233, 152, 47, 1);
}

ul li ul li a:active {
	color: #000;
}

/*header & nav styling exceptions for laptops*/
@media only screen and (max-width: 1600px) {
	header h1, header span {
		font-size: 2.6vw;
	}
	img#headerLogoBigScreen {	
		top: 2.5vw;
		width: 5vw;
	}
	ul li {
		font-size: 1.2vw;
	}                                         
	ul li ul li {
		width: 13vw;
	}
	img#arrow1, img#arrow2 {
		width: .7vw;
	}	
}

/*header & nav styling exceptions for tablets*/
@media only screen and (max-width: 1024px) {	
	#header_section {                           
	height: 8.5vw;
	}
  header h1, header span {
		font-size: 3.2vw;                          
	}
	img#headerLogoBigScreen {	
		top: 2.7vw;
		width: 6vw;
	}	
	nav {                                     
		top: 8.5vw;
		height: 3vw;
	}
	ul li {
		font-size: 1.7vw;                   
		padding: .8vw 2.5vw .6vw 2.5vw;
	}
	ul li ul {
		top: 2.7vw;														
		left: 2.5vw;                             
	}
	ul li ul li {
		width: 18vw;                             
	}
	img#arrow1, img#arrow2 {
		width: 1vw;
	}	
}

/*header & nav styling exceptions for mobiles landscape*/
@media only screen and (max-width:700px) {
	#header_section {                           
	height: 10vw;
	}
  header h1, header span {
		font-size: 4vw;
	}
	img#headerLogoBigScreen {	
		top: 2vw;
		width: 8vw;
	}	
	nav {                                     
		top: 10vw;
		height: 4.5vw;
	}
	ul {
		margin-top: 0.3vw;
	}
	ul li {
		font-size: 2.3vw;                   
	}
	ul li ul {
		top: 3vw; 
		left: 2.5vw;                             
	}
	ul li ul li {
		width: 24vw;                             
	}
	img#arrow1, img#arrow2 {
		width: 1.2vw;
	}
}

/*header & nav styling exceptions for mobiles*/
@media only screen and (max-width:480px) {
	#header_section {                            
		height: 32vw;
	}
	header h1, header span {
		display: block;
		font-size: 6vw;
		margin: 0vw;
		line-height:1.2;
	}	
	header span {
	  margin-top: 2vw;	
	}
	img#headerLogoBigScreen {	
		display: none;
	}
	img#headerLogoMobile {
		display: inline-block;
		width: 15vw;
		position: relative;
		margin-bottom: -0.5vw;
	}
	img#hamburger {
		display: block;
		position: absolute;
		top: 20vw;
		left: 80vw;
		width: 10vw;
	}
	nav {
		position: absolute;
		top: 34vw;
		left: 50vw;
		text-align: left;
		width: 50%;
		height: auto;
		visibility: hidden;
	}
	ul {
		padding-top: 0;
	}
	ul li {
		display: block;
		font-size: 4.5vw;
		padding-top: 3vw;
		padding-bottom: 3vw;
		border-top: 1px solid #fff;
	}	
	nav a.highLevelNav:hover {
		color: white;
	}
	nav a.highLevelNav:active {
		color: #e9982f;
	}	
	img#arrow1, img#arrow2 {
		display: none;
	}
	img#mobile_arrow1, img#mobile_arrow2 {
		display: inline;
		width: 2.5vw;
		padding-bottom: 0.5vw;
		margin-right: 1.5vw;
	}
	#home_item, #show_item {
		margin-left: 3vw;
	}	
	ul li ul {
		padding-top: .4vw;
		padding-bottom: .4vw;
		position: absolute;
		top: -11.6vw; 
		left: -50vw;
	}
	ul li ul#dropDown1 {
		top: -13vw;
	}
	ul li ul#dropDown2 {
		top: -25.2vw;
	}
	ul li ul li {
		width: 50vw;
		display: block;
		background-color: rgba(233, 152, 47, 1);
		color: white;
		text-align: left;
		border-top: 1px solid #fff;
		padding: 3vw;
		z-index: 30;
	}
}

/*main section*/
main {
	background-color: #fafafa;
	position: relative;
	top: 9.5vw;              
	left: 0vw;
}

/*main section styling exceptions for tablets*/
@media only screen and (max-width:1024px) {             
	main {
		top: 11.5vw;
	}	
}

/*main section styling exceptions for mobiles landscape*/
@media only screen and (max-width:700px) {
	main {
		top: 14.5vw;
	}	
}

/*main section styling exceptions for mobiles*/
@media only screen and (max-width:480px) {
	main {
		top: 34vw;
	}	
}

/*fade in-out gallery*/
#stage_pc, #stage_pc_pages {
	width: 100%;
	height: 40vw;
	margin: 0 auto 0 auto;
}	
#stage_tablet, #stage_tablet_pages {
	display: none;
}
#stage_mobile, #stage_mobile_pages {
	display: none;
}
#stage_pc img {
	position: absolute;
	width: 100%;
	height: 40vw;
	background: #fff;
}
#stage_pc img:nth-of-type(1) {
	animation-name: fader;
	animation-delay: 4s;
	animation-duration: 1s;
	z-index: 20;
}
#stage_pc img:nth-of-type(2) {
	z-index: 10;
}
#stage_pc img:nth-of-type(n+3) {
	display: none;
}
	
/*fade in-out gallery exceptions for tablets*/	
@media only screen and (max-width: 1024px) {
  #stage_pc, #stage_pc_pages {
		display: none;
  }	
	#stage_mobile, #stage_mobile_pages {
		display: none;
	}
	#stage_tablet, #stage_tablet_pages {
		display: block;
		width: 100%;
		height: 62.5vw;
		margin: 0 auto 0 auto;
	}
  #stage_tablet img {
		position: absolute;
		width: 100%;
		height: 62.5vw;
		background: #fff;
  }
  #stage_tablet img:nth-of-type(1) {
    animation-name: fader;
    animation-delay: 4s;
    animation-duration: 1s;
    z-index: 20;
  }
  #stage_tablet img:nth-of-type(2) {
    z-index: 10;
  }
  #stage_tablet img:nth-of-type(n+3) {
    display: none;
  }	
}

/*image fade*/
@keyframes fader {
	from { opacity: 1.0; }
	to   { opacity: 0.0; }
}

/*main image exceptions for mobiles portrait and landscape*/	
@media only screen and (max-width: 700px) {
	#stage_pc, #stage_pc_pages, #stage_tablet, #stage_tablet_pages {
		display: none;
	}
	#stage_mobile, #stage_mobile_pages {
		display: block;
		width: 100%;
		height: 90vw;
		margin: 0 auto 0 auto;
	}
	#stage_mobile img {
		width: 100%;
		height: 90vw;
	}
}

/*table styling*/
div.info-table {
	width: 750px;
	font-family: Acumin-pro, sans-serif;
	font-size: 1.5rem;
	position: relative;
	margin: 0 auto 0 auto;
	margin-bottom: 1vw;
	margin-top: 1vw;
	color: #584632;
}

hr {
	border: 2px solid rgba(233, 152, 47, 1);
	margin-bottom: 3vw;
}


div.info-table table {
	width: 750px;
}

div.info-table caption {
	font-size: 1.5rem;
	font-weight: bold;
	margin-top: 0.5rem;
	margin-bottom: 1rem;
	text-align: left;
}

div.info-table td {
	padding: 5px;
	padding-left: 10px;
}

/*table styling exceptions for tablets*/
@media only screen and (max-width: 1024px) {
	div.info-table {
		width: 80%;
		font-size: 2.5vw;
	}
	div.info-table table {
		width: 100%;
	}
	div.info-table caption {
		font-size: 1.5rem;
	}
	div.info-table td {
		padding: 3px;
		padding-left: 5px;
	}	
}

/*table styling exceptions for mobiles*/	
@media only screen and (max-width: 480px) {
	div.info-table {
		width: 90%;
		font-size: 0.7rem;
	}
	div.info-table table {
		width: 100%;
	}
	div.info-table caption {
		font-size: 1.5rem;
	}
	div.info-table td {
		padding: 3px;
		padding-left: 5px;
		vertical-align: bottom;
	}	
}

/*article styling*/  
article#about_us, article#about_church {
	width: 44%;
	margin: 2rem auto 2rem auto;
	color: #697331;
	font-family: baker-signet-web, serif;	
}
article h2 {
	margin-bottom: 1rem;
	margin-right: 1rem;
	text-align: left;
	font-size: 1.5rem;
  	font-weight: bold;
	font-family: Acumin-pro, sans-serif;
	color: #584632;
	display: inline-block;
}
article p {
	margin-bottom: 1rem;
	font-size: 1.5rem;
	font-family: acumin-pro, sans-serif;
	color: #584632;
}
span.first_word {
	color: #e9982f;
	text-transform: uppercase;
}
span#first_sentence {
	font-weight: bold;
}
span.article-link {
	display: inline-block;
}
span.article-link a {
		text-decoration: none;
		font-size: 1.2rem;
}
span.article-link a:link, span.article-link a:visited {
	color: blue;
}
span.article-link a:hover {
	color: dodgerblue;
}

span.article-link a:active {
	color:rgba(233, 152, 47, 1);
}

span#wiki-link {
	margin-bottom: 1rem;
}
  
/*article styling exceptions for laptops*/
@media only screen and (max-width: 1600px) {
	article#about_us, article#about_church {
		width: 60%;
	}
}

/*article styling exceptions for tablets*/
@media only screen and (max-width: 1024px) {
	article#about_us, article#about_church {
		width: 80%;
	}
}

/*article stylingexceptions for mobiles*/	
@media only screen and (max-width: 480px) {
	article#about_us, article#about_church {
		width: 90%;
	}	
}

/*footer styling*/
footer {
	background-color: #abcacd;
	text-align: center;
}
img#footerLogo {
	width: 3.5vw;
	padding-top: .7vw;
}
footer p {
	font-family: Acumin-pro, sans-serif;
	font-style: normal;
	font-weight: 100;
	font-size: 0.8vw;
	color: #000;
}
p#footer_line1 {
	display: block;
	padding-top: .5vw;
	padding-bottom: 1rem;
}

/*footer styling exceptions for laptops*/
@media only screen and (max-width: 1600px) {
	img#footerLogo {
		width: 3.9vw;
		padding-top: .8vw;
	}
	footer p {
		font-size: 1vw;
	}
	p#footer_line1 {
		padding-top: .6vw;
	}
}

/*footer styling exceptions for tablets*/
@media only screen and (max-width: 1024px) {
	img#footerLogo {
		width: 4.1vw;
		padding-top: .9vw;
	}
	footer p {
		font-size: 1.2vw;
	}
	p#footer_line1 {
		padding-top: .7vw;
	}
}

/*footer styling exceptions for mobiles*/
@media only screen and (max-width: 480px) {
	img#footerLogo {
		width: 8vw;
		padding-top: 1.3vw;
	}
	footer p {
		font-size: 3vw;
	}
	p#footer_line1 {
		padding-top: 2vw;
	}
}


